# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Environments
venv/
env/
ENV/
.env

# Testing & Reports
.pytest_cache/
allure-results/
allure-report/
.coverage
htmlcov/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
