# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Environments & secrets
venv/
env/
ENV/
.env
.env.*

# Testing & Reports
.pytest_cache/
allure-results/
allure-report/
.coverage
htmlcov/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
